body {
  margin: 0;
}

.pageLink {
  text-decoration: none;
  color: #FFFFFF;
}

.pageLink:hover {
  color: #FFFFFF;
}

.login-bg {
  width: 100%;
  height: 100vh;
  background-color: #041D53;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-inner {
  width: 90vw;
  height: 85vh;
  background: #FFFFFF;
  border-radius: 30px;
  display: flex;
}

.login-left {
  position: relative;
  width: 60%;
  height: 100%;
  background: linear-gradient(0deg, rgba(226, 246, 254, 0.8), rgba(226, 246, 254, 0.8)), url(./img/usar.jfif);
  background-size: cover;
  border-radius: 30px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-h1 {
  font-weight: 800;
  font-size: 120px;
  color: #041D53;
  margin-top: 0;
}

.login-h2 {
  font-weight: 400;
  font-size: 60px;
  line-height: 73px;
  color: #181818;
  margin-bottom: 0;
  font-family: 'Oswald', sans-serif;
}

.dropdownBox {
  width: 100%;
  height: 50px;
  background-color: #041D53;
}

.dropdownBox:hover {
  background-color: #004679;
}

.dropdownBox:active {
  background-color: #004679;
}

.login-right {
  width: 40%;
  height: 100%;
  border-radius: 0px 30px 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 150px;
}

.login-text {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #181818;
}

.login-box {
  border-radius: 30px;
}

.login-btn {
  height: 3rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #FFFFFF;
  background-color: #004679;
  border-radius: 30px;
}

.login-btn:hover {
  transition: all 0.5s linear;
  background-color: #041D53;
  color: #FFFFFF;
}

/* /////////////////////////// Daily Attendance Page /////////////////////////// */

.side-bar {
  background-color: #041D53;
  width: 350px;
  height: 100vh;
}

.side-bar-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stud-name {
  height: 8%;
  width: 90%;
  background: #004679;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  display: flex;
  text-align: center;
  align-items: center;
}

.stud-h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
}

.side-bar p {
  color: #EEEEEE;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}

.divider {
  height: 3px;
  width: 90%;
  border: 0;
  border-top: 2px solid #ffffff;
}

.active-btn {
  width: 100%;
  height: 60px;
  background-color: #004679;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
}

.unactive-btn {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-btn button,
.unactive-btn button {
  border: none;
  background: transparent;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
}

/* dashboard page */

ul {
  list-style-type: none;
}

a {
  text-decoration: none
}

nav a:hover {
  color: #fff;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fff;
}

nav ul {
  padding-left: 0px;
}

nav {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 90px;

  background: #041D53;
  overflow: hidden;
  transition: 0.5s;
}

nav:hover {
  width: 300px;
  transition: 1s;
}

.logo {
  display: flex;
  margin: 10px 0 0 10px;
  padding-bottom: 3rem;
}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.cont a {
  position: relative;
  width: 280px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  display: table;
  padding: 10px;
}

nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  margin-left: 10px;
}

.cont a:hover {
  background: rgb(196, 198, 232);
}

.cont a:hover i {
  color: #041D53;
  transition: 0.5s;
}

.logout {
  position: absolute;
  bottom: 0;
  color: #fff;
  display: flex;
}

.cont {
  display: flex;
  gap: 10px;
}



.hrstyle {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.main {
  position: relative;
  width: 100%;
}

.main-top {
  display: flex;
  width: 100%;
}

.main-top {
  padding: 20px;
}

.main-top i {
  position: absolute;
  right: 0;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.main .users {
  display: flex;
  justify-content: center;
}

.users .card {
  width: 500px;
  height: 400px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.users .card img {
  width: 150px;
  border-radius: 50%;
}

.users .card h4 {
  text-transform: uppercase;
}

.users .card p {
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.users table {
  margin: auto;
}

.per {
  margin-top: 1.1rem;
}

.users .per span {
  padding: 25px;
  border-radius: 18px;
  background: #004679;
  color: #fff;
}

.users .per td {
  color: gainsboro;
  font-size: 16px;
  padding-right: 15px;
}

.users .card button {
  width: 100%;
  margin-top: 18px;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #004679;
  color: #fff;
  border: 2px solid #004679;
}

.users .card button:hover {
  background: #fff;
  color: #000;
  transition: 0.5s;
}


.attendance {
  /* margin-top: 20px; */
  width: 100%;
  padding: 20px;
  text-transform: capitalize;
}

.attendance-list {
  padding: 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.table {
  width: 90%;
  /* margin: 25px 0; */
  font-size: 15px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

table thead tr {
  color: #fff;
  background: #041D53;
  text-align: left;
  font-weight: bold;
}

.table th,
.table td {
  padding: 12px 15px;
  height: 60px;
}

.table tbody tr {
  border-bottom: 1.5px solid #ddd;
}

.table tbody tr:nth-of-type(odd) {
  background: #fff;
}

.table tbody tr.active {
  font-weight: bold;
  color: #041D53;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #041D53;
}

.table button {
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #041D53;
}

.table button:hover {
  background: #004679;
  color: #fff;
  transition: 0.5rem;
}

/* ///////////////////////////////////////////// Calendar ////////////////////////////////////////////////// */

.react-calendar { 
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
 }
 .react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
 }
 .react-calendar__navigation button:enabled:hover,
 .react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
 }
 .react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
 }
 abbr[title] {
  text-decoration: none;
 }
 /* .react-calendar__month-view__days__day--weekend {
  color: #d10000;
 } */
 .react-calendar__tile:enabled:hover,
 .react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 6px;
 }
 .react-calendar__tile--now {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
 }
 .react-calendar__tile--now:enabled:hover,
 .react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
 }
 .react-calendar__tile--hasActive:enabled:hover,
 .react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
 }
 .react-calendar__tile--active {
  background: #6f48eb;
  border-radius: 6px;
  font-weight: bold;
  color: white;
 }
 .react-calendar__tile--active:enabled:hover,
 .react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
 }
 .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
 }
 .react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
 }
 .react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
 }
 .react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
 }
 .highlight{
  background: #eb8448

 }
 .react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
